// Jade-bootstrap support ----------------------------------------------------------------------------------------------

//- Including Icon mixins
include ../../node_modules/jade-bootstrap/components/icons
//- Including Alert mixins
include ../../node_modules/jade-bootstrap/components/alerts
//- Including Tooltip mixins
include ../../node_modules/jade-bootstrap/components/tooltips
//- Including Accordion mixins
include ../../node_modules/jade-bootstrap/components/accordion
//- Including Carousel mixins
include ../../node_modules/jade-bootstrap/components/carousel
//- Including Table mixins
include ../../node_modules/jade-bootstrap/components/tables
//- Including Navbar mixins
include ../../node_modules/jade-bootstrap/components/navbar
//- Including Toggle Button mixins
include ../../node_modules/jade-bootstrap/components/toggle
//- Including Nav mixins
include ../../node_modules/jade-bootstrap/components/navs
//- Including Label mixins
include ../../node_modules/jade-bootstrap/components/labels
//- Including Panels mixins
include ../../node_modules/jade-bootstrap/components/panels
//- Including Tab mixins
include ../../node_modules/jade-bootstrap/components/tabs
//- Including Dropdown mixins
include ../../node_modules/jade-bootstrap/components/dropdowns
//- Including Forms mixins -------------------------------------------- ANGULARISED
include ./jade-bootstrap-angularised/forms
//- Including Modal dialog mixins
include ../../node_modules/jade-bootstrap/components/modal
//- Including List group mixins
include ../../node_modules/jade-bootstrap/components/list-groups
//- Including Progress bar mixins
include ../../node_modules/jade-bootstrap/components/progress-bars
//- Including Button mixins -------------------------------------------- ANGULARISED ("Submit" section only)
include ./jade-bootstrap-angularised/buttons
//- Including Image mixins
include ../../node_modules/jade-bootstrap/components/images
//- Including Bootswatch theme mixins
include ../../node_modules/jade-bootstrap/components/bootswatch

// ---------------------------------------------------------------------------------------------------------------------

block partial-content