extends ../required/partials-req

block partial-content
  h1 Testing Command Execution
  form.basic-form
    +input("text","txtCommand","Enter your command...","Command","txtCommand")(ng-model='form_command')
    +submit("Submit","default","submit")(ng-click='form_submitCmd()')
  .output.tall
    +panel-primary('Output')
      perfect-scrollbar.scroller(id="output-panel", min-scrollbar-length="45", scroll-down="true", refresh-on-change="output")
        .inner-box(ng-bind-html="output")